In [2]:
import pandas as pd

In [3]:
df = pd.read_stata('CPS Data/2015/cpsmar2015.dta', convert_categoricals = False)

In [4]:
df.head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,m5gsame,m5g_reg,m5g_st,m5g_div,m5g_mtr1,m5g_mtr3,m5g_mtr4,i_m5g1,i_m5g2,i_m5g3
0,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
1,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,1,0,0
2,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
3,1,2,0,1,9,2,2015,1,4,2,...,0,0,0,0,8,8,9,0,0,0
4,1,3,0,5,4,1,2015,1,1,1,...,1,1,0,1,1,1,1,0,0,0

In [9]:
columns_2015 = df.columns.tolist()

In [11]:
[column for column in columns_2015 if 'age' in column]

['a_age', 'age1', 'wageotr', 'axage']

In [ ]:
[column for column in columns_2015 if 'age' in column]

In [13]:
df[df.a_age < 24].head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,m5gsame,m5g_reg,m5g_st,m5g_div,m5g_mtr1,m5g_mtr3,m5g_mtr4,i_m5g1,i_m5g2,i_m5g3
2,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
3,1,2,0,1,9,2,2015,1,4,2,...,0,0,0,0,8,8,9,0,0,0
6,1,5,0,1,7,1,2015,1,2,1,...,1,1,0,1,1,1,1,0,0,0
19,1,13,0,2,6,2,2015,1,5,1,...,0,0,0,0,8,8,9,0,0,0
20,1,13,0,2,6,2,2015,1,5,1,...,0,0,0,0,8,8,9,0,0,0

In [20]:
len(df.a_age.unique())

82

In [16]:
df.age1.unique()

array([10,  5,  0, 17, 14,  2, 16, 15, 13,  6, 12,  8,  9, 11,  7,  4,  1,
        3])

In [7]:
df2 = pd.read_stata('C:/Users/lee.reis/Desktop/CPS Data/2014/cpsmar2014.dta', convert_categoricals = False)

In [8]:
df2.head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,tdiv_val,trnt_val,ted_val,tcsp_val,tfin_val,toi_val,tphip_val,tpotc_val,tpmed_val,tchsp_val
0,1,3,0,1,9,2,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
1,1,3,0,1,9,2,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
2,1,4,0,1,7,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
3,1,4,0,1,7,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,1,6,0,1,12,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print len(df)
print len(df2)

199024
60141

In [10]:
df = df.append(df2)

In [11]:
len(df)

259165

In [12]:
df.head()

,a_age,a_civlf,a_clswkr,a_dtind,a_dtocc,a_enrlw,a_ernlwt,a_explf,a_exprrp,a_famnum,...,wicyn,wicyna,wkcheck,wkswork,workyn,wrk_ck,ws_val,wsal_val,wsal_yn,wtemp
0,48,1,1,23,22,2,0,1,1,1,...,0,0,3,52,1,1,0,40000,1,0
1,45,0,0,0,0,2,0,0,4,1,...,2,1,1,17,1,1,0,6000,1,0
2,23,1,1,22,16,2,0,1,12,2,...,2,1,3,52,1,1,0,16000,1,0
3,2,0,0,0,0,0,0,0,12,2,...,2,1,0,0,0,0,0,0,0,0
4,80,0,0,0,0,0,0,0,2,0,...,0,0,0,0,2,2,0,0,2,2

"Living independently means heading one's own household or living in a household headed by a spouse, unmarried partner, or other non-relative. Young adults are 18- to 34-year olds, excludes 18- to 24-year-old college students enrolled full time"

So we need to identify the following fields/people:
-Age
-Household
-Head of household
-College enrollment status

Also need to identify how these have changed across time - Pew study looked at 2007 (or 2000?) onward.

"'Doubled up' mean living with one or more adults who is not your spouse or unmarried partner; those living with parents or other relatives are considered 'doubled up.' Young adults are 18- to 34-year olds, excludes 18- to 24-year-old college students enrolled full time"