In [1]:
import pandas as pd

In [2]:
df = pd.read_stata('CPS Data/2015/cpsmar2015.dta', convert_categoricals = False)

In [4]:
df.head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,m5gsame,m5g_reg,m5g_st,m5g_div,m5g_mtr1,m5g_mtr3,m5g_mtr4,i_m5g1,i_m5g2,i_m5g3
0,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
1,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,1,0,0
2,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
3,1,2,0,1,9,2,2015,1,4,2,...,0,0,0,0,8,8,9,0,0,0
4,1,3,0,5,4,1,2015,1,1,1,...,1,1,0,1,1,1,1,0,0,0

In [3]:
columns_2015 = df.columns.tolist()

In [11]:
[column for column in columns_2015 if 'age' in column]

['a_age', 'age1', 'wageotr', 'axage']

In [4]:
[column for column in columns_2015 if 'cbsa' in column]

['gtcbsa', 'gtcbsast', 'gtcbsasz']

In [13]:
df[df.a_age < 24].head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,m5gsame,m5g_reg,m5g_st,m5g_div,m5g_mtr1,m5g_mtr3,m5g_mtr4,i_m5g1,i_m5g2,i_m5g3
2,1,2,0,1,9,2,2015,1,4,2,...,1,1,0,1,1,1,1,5,0,0
3,1,2,0,1,9,2,2015,1,4,2,...,0,0,0,0,8,8,9,0,0,0
6,1,5,0,1,7,1,2015,1,2,1,...,1,1,0,1,1,1,1,0,0,0
19,1,13,0,2,6,2,2015,1,5,1,...,0,0,0,0,8,8,9,0,0,0
20,1,13,0,2,6,2,2015,1,5,1,...,0,0,0,0,8,8,9,0,0,0

San Francisco-Oakland-Hayward CBSA = 41860

In [15]:
bay_households = df[df.gtcbsa == 41860][['h_seq', 'h_numper']]

In [16]:
bay_households = bay_households.drop_duplicates()

In [17]:
len(bay_households)

805

In [6]:
df[df.gtcbsa == 41860]

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,m5gsame,m5g_reg,m5g_st,m5g_div,m5g_mtr1,m5g_mtr3,m5g_mtr4,i_m5g1,i_m5g2,i_m5g3
188353,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188354,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188355,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188356,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188357,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188358,1,94631,0,5,8,1,2015,1,7,1,...,2,4,6,9,2,2,2,0,0,0
188359,1,94631,0,5,8,1,2015,1,7,1,...,0,0,0,0,8,8,9,0,0,0
188360,1,94632,0,5,1,1,2015,1,5,1,...,2,4,6,9,2,3,3,5,5,1
188361,1,94632,0,5,1,1,2015,1,5,1,...,2,4,6,9,2,3,3,1,1,1
188362,1,94632,0,5,1,1,2015,1,5,1,...,2,4,6,9,2,3,3,1,1,1
188363,1,94632,0,5,1,1,2015,1,5,1,...,2,4,6,9,2,3,3,1,1,1
188364,1,94632,0,5,1,1,2015,1,5,1,...,0,0,0,0,8,8,9,0,0,0
188365,1,94633,0,5,12,1,2015,1,3,2,...,2,4,6,9,2,3,3,5,5,1
188366,1,94633,0,5,12,1,2015,1,3,2,...,2,4,6,9,2,3,3,5,5,1
188367,1,94633,0,5,12,1,2015,1,3,2,...,2,4,6,9,2,3,3,3,3,1
188368,1,94635,0,1,14,1,2015,1,2,1,...,1,4,0,9,1,1,1,0,0,0
188369,1,94635,0,1,14,1,2015,1,2,1,...,1,4,0,9,1,1,1,0,0,0
188370,1,94636,0,5,16,1,2015,1,1,1,...,2,4,6,9,2,3,3,0,0,0
188371,1,94637,0,4,4,1,2015,1,1,1,...,1,4,0,9,1,1,1,0,0,0
188372,1,94638,0,1,9,1,2015,1,1,1,...,1,4,0,9,1,1,1,0,0,0
188373,1,94639,0,1,3,1,2015,1,1,1,...,1,4,0,9,1,1,1,5,0,0
188374,1,94640,0,5,9,1,2015,1,2,1,...,3,5,96,10,6,7,8,0,0,0
188375,1,94640,0,5,9,1,2015,1,2,1,...,3,5,96,10,6,7,8,0,0,0
188376,1,94641,0,1,16,1,2015,1,5,1,...,1,4,0,9,1,1,1,0,0,0
188377,1,94641,0,1,16,1,2015,1,5,1,...,1,4,0,9,1,1,1,0,0,0
188378,1,94641,0,1,16,1,2015,1,5,1,...,1,4,0,9,1,1,1,0,0,0
188379,1,94641,0,1,16,1,2015,1,5,1,...,1,4,0,9,1,1,1,0,0,0
188380,1,94641,0,1,16,1,2015,1,5,1,...,1,4,0,9,1,1,1,0,0,0
188381,1,94642,0,4,15,1,2015,1,2,2,...,3,5,96,10,6,7,8,0,0,0
188382,1,94642,0,4,15,1,2015,1,2,2,...,3,5,96,10,6,7,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190573,1,95606,0,1,16,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190574,1,95607,0,1,1,1,2015,1,1,1,...,1,4,0,9,1,1,1,0,0,0
190575,1,95608,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190576,1,95608,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190577,1,95608,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190578,1,95609,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190579,1,95609,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190580,1,95609,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190581,1,95609,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190582,1,95610,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190583,1,95610,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190584,1,95610,0,1,15,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190585,1,95611,0,1,16,1,2015,1,4,1,...,2,4,6,9,2,2,2,0,0,0
190586,1,95611,0,1,16,1,2015,1,4,1,...,2,4,6,9,2,2,2,0,0,0
190587,1,95611,0,1,16,1,2015,1,4,1,...,2,4,6,9,2,2,2,0,0,0
190588,1,95611,0,1,16,1,2015,1,4,1,...,2,4,6,9,2,2,2,0,0,0
190589,1,95612,0,1,16,2,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190590,1,95612,0,1,16,2,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190591,1,95612,0,1,16,2,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190592,1,95613,0,1,6,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190593,1,95613,0,1,6,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190594,1,95613,0,1,6,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190595,1,95614,0,1,16,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190596,1,95614,0,1,16,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190597,1,95614,0,1,16,1,2015,1,3,1,...,1,4,0,9,1,1,1,0,0,0
190598,1,95615,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190599,1,95615,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190600,1,95615,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190601,1,95615,0,1,15,1,2015,1,4,1,...,1,4,0,9,1,1,1,0,0,0
190602,1,95616,0,1,13,1,2015,1,1,1,...,1,4,0,9,1,1,1,5,0,0

In [20]:
len(df.a_age.unique())

82

In [16]:
df.age1.unique()

array([10,  5,  0, 17, 14,  2, 16, 15, 13,  6, 12,  8,  9, 11,  7,  4,  1,
        3])

In [7]:
df2 = pd.read_stata('C:/Users/lee.reis/Desktop/CPS Data/2014/cpsmar2014.dta', convert_categoricals = False)

In [8]:
df2.head()

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,...,tdiv_val,trnt_val,ted_val,tcsp_val,tfin_val,toi_val,tphip_val,tpotc_val,tpmed_val,tchsp_val
0,1,3,0,1,9,2,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
1,1,3,0,1,9,2,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
2,1,4,0,1,7,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
3,1,4,0,1,7,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,1,6,0,1,12,1,2014,1,2,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print len(df)
print len(df2)

199024
60141

In [10]:
df = df.append(df2)

In [11]:
len(df)

259165

In [12]:
df.head()

,a_age,a_civlf,a_clswkr,a_dtind,a_dtocc,a_enrlw,a_ernlwt,a_explf,a_exprrp,a_famnum,...,wicyn,wicyna,wkcheck,wkswork,workyn,wrk_ck,ws_val,wsal_val,wsal_yn,wtemp
0,48,1,1,23,22,2,0,1,1,1,...,0,0,3,52,1,1,0,40000,1,0
1,45,0,0,0,0,2,0,0,4,1,...,2,1,1,17,1,1,0,6000,1,0
2,23,1,1,22,16,2,0,1,12,2,...,2,1,3,52,1,1,0,16000,1,0
3,2,0,0,0,0,0,0,0,12,2,...,2,1,0,0,0,0,0,0,0,0
4,80,0,0,0,0,0,0,0,2,0,...,0,0,0,0,2,2,0,0,2,2

"Living independently means heading one's own household or living in a household headed by a spouse, unmarried partner, or other non-relative. Young adults are 18- to 34-year olds, excludes 18- to 24-year-old college students enrolled full time"

So we need to identify the following fields/people:
-Age
-Household
-Head of household
-College enrollment status

Also need to identify how these have changed across time - Pew study looked at 2007 (or 2000?) onward.

"'Doubled up' mean living with one or more adults who is not your spouse or unmarried partner; those living with parents or other relatives are considered 'doubled up.' Young adults are 18- to 34-year olds, excludes 18- to 24-year-old college students enrolled full time"

In [39]:
df.columns[0:10].tolist()+['h_seq','parent']

['hrecord',
 'h_seq',
 'hhpos',
 'hunits',
 'hefaminc',
 'h_respnm',
 'h_year',
 'h_hhtype',
 'h_numper',
 'hnumfam',
 'h_seq',
 'parent']

In [41]:
df.parent.unique()

array([0, 2, 4, 1, 3])

In [40]:
df[df.columns[0:10].tolist()+['h_seq','parent']]

,hrecord,h_seq,hhpos,hunits,hefaminc,h_respnm,h_year,h_hhtype,h_numper,hnumfam,h_seq,parent
0,1,2,0,1,9,2,2015,1,4,2,2,0
1,1,2,0,1,9,2,2015,1,4,2,2,0
2,1,2,0,1,9,2,2015,1,4,2,2,0
3,1,2,0,1,9,2,2015,1,4,2,2,2
4,1,3,0,5,4,1,2015,1,1,1,3,0
5,1,5,0,1,7,1,2015,1,2,1,5,0
6,1,5,0,1,7,1,2015,1,2,1,5,4
7,1,6,0,1,4,2,2015,1,2,1,6,0
8,1,6,0,1,4,2,2015,1,2,1,6,0
9,1,8,0,1,7,1,2015,1,2,1,8,0
10,1,8,0,1,7,1,2015,1,2,1,8,0
11,1,9,0,1,15,1,2015,1,2,1,9,0
12,1,9,0,1,15,1,2015,1,2,1,9,0
13,1,10,0,1,10,1,2015,1,3,1,10,0
14,1,10,0,1,10,1,2015,1,3,1,10,0
15,1,10,0,1,10,1,2015,1,3,1,10,0
16,1,11,0,1,4,1,2015,1,1,1,11,0
17,1,13,0,2,6,2,2015,1,5,1,13,0
18,1,13,0,2,6,2,2015,1,5,1,13,0
19,1,13,0,2,6,2,2015,1,5,1,13,1
20,1,13,0,2,6,2,2015,1,5,1,13,1
21,1,13,0,2,6,2,2015,1,5,1,13,1
22,1,14,0,2,8,2,2015,1,4,2,14,0
23,1,14,0,2,8,2,2015,1,4,2,14,3
24,1,14,0,2,8,2,2015,1,4,2,14,3
25,1,14,0,2,8,2,2015,1,4,2,14,0
26,1,15,0,1,14,1,2015,1,3,2,15,0
27,1,15,0,1,14,1,2015,1,3,2,15,2
28,1,15,0,1,14,1,2015,1,3,2,15,0
29,1,16,0,1,16,1,2015,1,3,1,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...
198994,1,99195,0,5,13,1,2015,1,1,1,99195,0
198995,1,99196,0,5,9,1,2015,1,1,1,99196,0
198996,1,99197,0,5,10,1,2015,1,2,1,99197,0
198997,1,99197,0,5,10,1,2015,1,2,1,99197,0
198998,1,99198,0,5,13,1,2015,1,2,1,99198,0
198999,1,99198,0,5,13,1,2015,1,2,1,99198,0
199000,1,99213,0,2,7,1,2015,1,3,1,99213,0
199001,1,99213,0,2,7,1,2015,1,3,1,99213,0
199002,1,99213,0,2,7,1,2015,1,3,1,99213,1
199003,1,99214,0,2,9,1,2015,1,3,1,99214,0
199004,1,99214,0,2,9,1,2015,1,3,1,99214,0
199005,1,99214,0,2,9,1,2015,1,3,1,99214,1
199006,1,99215,0,2,7,1,2015,1,3,1,99215,0
199007,1,99215,0,2,7,1,2015,1,3,1,99215,0
199008,1,99215,0,2,7,1,2015,1,3,1,99215,1
199009,1,99216,0,1,16,1,2015,1,3,1,99216,0
199010,1,99216,0,1,16,1,2015,1,3,1,99216,0
199011,1,99216,0,1,16,1,2015,1,3,1,99216,0
199012,1,99217,0,1,16,1,2015,1,2,1,99217,0
199013,1,99217,0,1,16,1,2015,1,2,1,99217,0
199014,1,99218,0,1,12,2,2015,1,2,1,99218,0
199015,1,99218,0,1,12,2,2015,1,2,1,99218,0
199016,1,99219,0,1,15,1,2015,1,2,1,99219,0
199017,1,99219,0,1,15,1,2015,1,2,1,99219,0
199018,1,99220,0,1,8,1,2015,1,1,1,99220,0
199019,1,99221,0,2,7,1,2015,1,1,1,99221,0
199020,1,99222,0,1,10,1,2015,1,2,1,99222,0
199021,1,99222,0,1,10,1,2015,1,2,1,99222,0
199022,1,99223,0,5,15,1,2015,1,2,2,99223,0
199023,1,99223,0,5,15,1,2015,1,2,2,99223,0

In [49]:
[column for column in columns_2015 if 'line' in column]

['a_lineno']

In [48]:
df.a_famrel.value_counts()

3    66243
1    55197
2    38963
0    31165
4     7456
Name: a_famrel, dtype: int64

In [44]:
df.a_famrel.unique()

array([1, 2, 3, 0, 4])

### Variables deciphered so far:

- h_seq: is the same across a household
- a_age: indicates age
- perrp: indicates "Relationship to reference" (need to investigate more)
- a_fam_rel: indicates "family relation" (perhaps better than perrp)
- prdtrace: race
- a_lineno: line number of the person (used for things like "line number of parent")

Need to identify:
PESCHFT (Are you enrolled in school as a full-time or part-time student?)
PESCHLVL (High school, college, or university?)
HRHTYPE (Household type, may help us decipher family or not)